<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="JShop API Suite" verbose="1" parallel="false">
  <test name="API Tests">
    <groups>
      <run>
        <include name="regression"/>
        <include name="api"/>
      </run>
    </groups>
    <classes>
      <class name="com.jshop.apitests.AdminControllerTest"/>
      <class name="com.jshop.apitests.AdminControllerTest"/>
      <class name="com.jshop.apitests.ProductControllerTest"/>
      <class name="com.jshop.apitests.OrderControllerTest"/>
      <class name="com.jshop.apitests.ProductOwnerControllerTest"/>
      <class name="com.jshop.apitests.UserCartControllerTest"/>
      <class name="com.jshop.apitests.UserControllerTest"/>
    </classes>
  </test>
</suite>
